body {
    font-family: Arial, sans-serif;
    text-align: center;
	background-color:#a164df;
}



.btn,.stop {
    background-color: #663399;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}